header
  nav
    ul
      li
        a(href='/') Shop
      li
        a(href='/products') Products
      li
        a(href='/cart') Cart
      li
        a(href='/orders') Orders
      li
        a(href='/admin/add-product') Add Product
      li
        a(href='/admin/products') Admin Products