extends ./../main.pug

block content
  h3 Product List
  div(class="product-list")
    each product in prods
      div(class="card product-item", style="width: 18rem;")
        img(src=product.imageUrl, alt="", class='card-img-top')
        div(class='card-body')
          h5(class='card-title') #{product.title}
          p(class='card-text') #{product.description}
          div(class='card-text') #{product.price} 
          a(class='btn btn-info', href='/products/productId=' + product.id) Detail
          include ./../includes/add-to-cart.pug