doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/main.css')
    title Shopping Ladies
  body
    nav
      ul
        li
          a(href='/product-list') Shop
        li
          a(href='/product') Product
    main
      h3 Product List ...
      div
        each product in prods
          p #{product.title}
